body {
  background-color: #000000;
  min-height: 100vh;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main {
  width: 100vw;
  padding-bottom: 60px;
  position: relative;
}

#titre {
  z-index: 1;
  position: relative;
  width: 85vw;
  margin-top: 1rem;
}

#game {
  position: relative;
  width: var(--slot-container-size);
  margin: 7vh auto;
}
