.result {
    z-index: 10;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    width: 85vw;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.result.hidden {
    z-index: 10;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    pointer-events: none;
}

#shadow {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#shadow.hidden {
    z-index: 9;
    opacity: 0;
    pointer-events: none;
}