@keyframes floaty {
  0% {
    transform: translateY(0) rotateX(8deg) rotateY(-12deg);
  }

  50% {
    transform: translateY(-10px) rotateX(12deg) rotateY(12deg);
  }

  100% {
    transform: translateY(0) rotateX(8deg) rotateY(-12deg);
  }
}

@keyframes boxBurst {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateY(-16px) scale(1.1) rotate(20deg);
    opacity: 0.9;
  }
  100% {
    transform: translateY(-80px) scale(0.25) rotate(40deg);
    opacity: 0;
  }
}
