/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #titre {
    width: 70vw;
  }
  .result {
    width: 70vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #titre {
    width: 55vw;
  }
  .result {
    width: 55vw;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  #titre {
    width: 40vw;
  }
  .result {
    width: 40vw;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
}
